div#profile-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#user-tweets-likes {
  border: solid;
  width: 80vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  width: 200px;
  height: 100px;
}
